.login{
	
	text-align:center;
	
}

fieldset{width:700px;
     }
	 
#for_form{
	margin-left:20%;
	background-color:lightgray;
	width:730px;
	border:2px;
	margin-top:20px;
}	 

    .container{  
	    margin: 0 auto; background:#E6E6E6;
		}
	 
	 